<link rel="preload" href="/public/fonts/geist/Geist-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/public/fonts/geist/Geist-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/styles.css">
<link rel="icon" type="image/png" href="/public/img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/public/img/favicon/favicon.svg">
<link rel="apple-touch-icon" href="/public/img/favicon/apple-touch-icon.png">
<link rel="manifest" href="/public/img/favicon/site.webmanifest">
